{% extends "base.html" %}
{% load static %}

{% block title %}Apotek - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Daftar Apotek</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-striped table-bordered table-responsive table-hover" align="center">
            <thead class="thead-dark">
                <th>ID Apotek</th>
                <th>Nama Apotek</th>
                <th>Alamat Apotek</th>
                <th>Nomor Telepon Apotek</th>
                <th>Nama Penyelenggara</th>
                <th>Nomor SIA Penyelenggara</th>
                <th>Email Penyelenggara</th>
                {% if request.session.role == 'ADMIN_APOTEK' %}
                <th>Operasi</th>
                {% endif %}
            </thead>
            {% for row in data %}
                <tr>
                <td>{{ row.id_apotek }}</td>
                <td>{{ row.nama_apotek }}</td>
                <td>{{ row.alamat_apotek }}</td>
                <td>{{ row.telepon_apotek }}</td>
                <td>{{ row.nama_penyelenggara }}</td>
                <td>{{ row.no_sia }}</td>
                <td>{{ row.email }}</td>
                    {% if request.session.role == 'ADMIN_APOTEK' %}
                <td>
                    <form action="{% url 'update_apotek' %}" method="get">
                        <input type="hidden" id="id_u" name="id_u" value="{{ row.id_apotek }}">
                        <input type="submit" class="btn btn-success" value="Update">
                    </form>

                    <form action="{% url 'delete_apotek' %}" method="get">
                        <input type="hidden" id="id_d" name="id_d" value="{{ row.id_apotek }}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}