{% extends "base.html" %}
{% load static %}

{% block title %}Produk Apotek - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Produk Apotek</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-striped table-bordered table-responsive table-hover" align="center">
            <thead class="thead-dark">
                <th>ID Produk</th>
                <th>ID Apotek</th>
                <th>Harga Jual</th>
                <th>Satuan Penjualan</th>
                <th>Stok</th>
                {% if request.session.role == 'ADMIN_APOTEK' %}
                <th>Operasi</th>
                {% endif %}
            </thead>
            {% for row in data %}
                <tr>
                <td>{{ row.id_produk }}</td>
                <td>{{ row.id_apotek }}</td>
                <td>{{ row.harga_jual }}</td>
                <td>{{ row.satuan_penjualan }}</td>
                <td>{{ row.stok }}</td>
                    {% if request.session.role == 'ADMIN_APOTEK' %}
                <td>
                    <form action="{% url 'update_produk_apotek' %}" method="get">
                        <input type="hidden" id="id_u_p" name="id_u_p" value="{{ row.id_produk }}">
                        <input type="hidden" id="id_u_a" name="id_u_a" value="{{ row.id_apotek }}">
                        <input type="submit" class="btn btn-success" value="Update">
                    </form>

                    <form action="{% url 'delete_produk_apotek' %}" method="get">
                        <input type="hidden" id="id_d_p" name="id_d_p" value="{{ row.id_produk }}">
                        <input type="hidden" id="id_d_a" name="id_d_a" value="{{ row.id_apotek }}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}