{% extends "base.html" %}
{% load static %}

{% block title %}Update Produk Apotek - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Produk Apotek</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'update_produk_apotek' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}

            {{ form.old_id_apotek }}
            {{ form.old_id_produk }}

            <h4><label for="{{ form.id_produk.id_for_label }}">ID Produk</label></h4>
            {% if form.id_produk.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.id_produk.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                </div>
                {{ form.id_produk }}
            </div>

            <h4><label for="{{ form.id_apotek.id_for_label }}">ID Apotek</label></h4>
            {% if form.id_apotek.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.id_apotek.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                </div>
                {{ form.id_apotek }}
            </div>

            <h4><label for="{{ form.harga_jual.id_for_label }}">Harga Jual</label></h4>
            {% if form.harga_jual.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.harga_jual.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><strong>Rp</strong></span>
                </div>
                {{ form.harga_jual }}
            </div>

            <h4><label for="{{ form.satuan_penjualan.id_for_label }}">Satuan Penjualan</label></h4>
            {% if form.satuan_penjualan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.satuan_penjualan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-cogs"></i></span>
                </div>
                {{ form.satuan_penjualan }}
            </div>

            <h4><label for="{{ form.stok.id_for_label }}">Stok</label></h4>
            {% if form.stok.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.stok.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-columns"></i></span>
                </div>
                {{ form.stok }}
            </div>

            <input class="btn btn-outline-primary" type="submit" value="Update">
        </form>
    </div>
{% endblock %}