{% extends "base.html" %}
{% load static %}

{% block title %}Update Apotek - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Apotek</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'update_apotek' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form.id_apotek.id_for_label }}">ID Apotek</label></h4>
            {% if form.id_apotek.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.id_apotek.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building"></i></span>
                </div>
                {{ form.id_apotek }}
            </div>

            <h4><label for="{{ form.nama_apotek.id_for_label }}">Nama Apotek</label></h4>
            {% if form.nama_apotek.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nama_apotek.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                </div>
                {{ form.nama_apotek }}
            </div>

            <h4><label for="{{ form.alamat_apotek.id_for_label }}">Alamat Apotek</label></h4>
            {% if form.alamat_apotek.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.alamat_apotek.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map"></i></span>
                </div>
                {{ form.alamat_apotek }}
            </div>

            <h4><label for="{{ form.telepon_apotek.id_for_label }}">Nomor Telepon Apotek</label></h4>
            {% if form.telepon_apotek.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.telepon_apotek.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                {{ form.telepon_apotek }}
            </div>

            <h4><label for="{{ form.nama_penyelenggara.id_for_label }}">Nama Penyelenggara</label></h4>
            {% if form.nama_penyelenggara.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nama_penyelenggara.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form.nama_penyelenggara }}
            </div>

            <h4><label for="{{ form.no_sia.id_for_label }}">Nomor SIA Penyelenggara</label></h4>
            {% if form.no_sia.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.no_sia.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                </div>
                {{ form.no_sia }}
            </div>

            <h4><label for="{{ form.email.id_for_label }}">Email Penyelenggara</label></h4>
            {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.email.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form.email }}
            </div>

            <input class="btn btn-outline-primary" type="submit" value="Update">
        </form>
    </div>
{% endblock %}