{% extends "base.html" %}
{% load static %}

{% block title %}Home - Farmakami{% endblock %}

{% block content %}
<div class='jumbotron justify-content-center' align="center">
    <h4>Farmakami</h4>
    <hr>
    <h1>Selamat Datang!</h1>
</div>
{% endblock %}