{% extends "base.html" %}
{% load static %}

{% block title %}Profile - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Profil {{ request.session.nama }}</h1>
        <hr>
        <h4>Peran:
            {% if request.session.role == 'ADMIN_APOTEK' %}
                Admin Apotek
            {% elif request.session.role == 'KONSUMEN' %}
                Konsumen
            {% elif request.session.role == 'CS' %}
                <em>Customer Service</em>
            {% elif request.session.role == 'KURIR' %}
                Kurir
            {% endif %}
        </h4>
    </div>

    <div class="container justify-content-center" align="center">
        <table class="table table-responsive" align="center">
            <tr>
                <td>
                    <h4>Email</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ user.0 }}">
                    </div>

                    <h4>Nama Lengkap</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ user.3 }}">
                    </div>

                    <h4>Nomor Telepon</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ user.1 }}">
                    </div>
                </td>
                <td>
                    {% if request.session.role == 'KONSUMEN' %}
                        <h4>ID Konsumen</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.0 }}">
                        </div>
                        <h4>Jenis Kelamin</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.2 }}">
                        </div>
                        <h4>Tanggal Lahir</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.3 }}">
                        </div>
                    {% endif %}
                    {% if request.session.role == 'CS' %}
                        <h4>Nomor KTP</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.0 }}">
                        </div>
                        <h4>Nomor SIA</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.2 }}">
                        </div>
                    {% endif %}
                    {% if request.session.role == 'KURIR' %}
                        <h4>ID Kurir</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.0 }}">
                        </div>
                        <h4>Nama Perusahaan</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-building"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.2 }}">
                        </div>
                    {% endif %}
                    {% if request.session.role == 'ADMIN_APOTEK' %}
                        <h4>ID Apotek</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-building"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.1 }}">
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% if data_alamat %}
                {% for alamat in data_alamat %}
                <tr>
                    <td>
                        <h4>Status Alamat</h4>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-toggle-on"></i></span>
                                </div>
                                <input readonly class="form-control" value="{{ alamat.status }}">
                            </div>
                    </td>
                    <td>
                        <h4>Alamat</h4>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-map"></i></span>
                                </div>
                                <input readonly class="form-control" value="{{ alamat.alamat }}">
                            </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}