{% extends "base.html" %}
{% load static %}

{% block title %}Register Customer Service - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Registrasi Customer Service</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'register_cs' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form.email.id_for_label }}">Email</label></h4>
            {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.email.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form.email }}
            </div>

            <h4><label for="{{ form.password.id_for_label }}">Password</label></h4>
            {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.password.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                {{ form.password }}
            </div>

            <h4><label for="{{ form.nama_lengkap.id_for_label }}">Nama Lengkap</label></h4>
            {% if form.nama_lengkap.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nama_lengkap.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form.nama_lengkap }}
            </div>

            <h4><label for="{{ form.nomor_telepon.id_for_label }}">Nomor Telepon</label></h4>
            {% if form.nomor_telepon.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nomor_telepon.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                {{ form.nomor_telepon }}
            </div>

            <h4><label for="{{ form.nomor_ktp.id_for_label }}">Nomor KTP</label></h4>
            {% if form.nomor_ktp.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nomor_ktp.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                </div>
                {{ form.nomor_ktp }}
            </div>

            <h4><label for="{{ form.nomor_sia.id_for_label }}">Nomor SIA</label></h4>
            {% if form.nomor_sia.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nomor_sia.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
                </div>
                {{ form.nomor_sia }}
            </div>

            <input class="btn btn-outline-success" type="submit" value="Register">
        </form>
    </div>
{% endblock %}