{% extends "base.html" %}
{% load static %}

{% block title %}Farmakami - Register{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Registrasi</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form.peran.id_for_label }}">Peran</label></h4>
            {% if form.peran.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.peran.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form.peran }}
            </div>
            <input class="btn btn-outline-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}