{% extends "base.html" %}
{% load static %}

{% block title %}Register Konsumen - Farmakami{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Registrasi Konsumen</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'register_konsumen' %}" method="post">
            {% csrf_token %}
            {% if form1.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form1.email.id_for_label }}">Email</label></h4>
            {% if form1.email.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.email.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form1.email }}
            </div>

            <h4><label for="{{ form1.password.id_for_label }}">Password</label></h4>
            {% if form1.password.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.password.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                {{ form1.password }}
            </div>

            <h4><label for="{{ form1.nama_lengkap.id_for_label }}">Nama Lengkap</label></h4>
            {% if form1.nama_lengkap.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.nama_lengkap.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form1.nama_lengkap }}
            </div>

            <h4><label for="{{ form1.nomor_telepon.id_for_label }}">Nomor Telepon</label></h4>
            {% if form1.nomor_telepon.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.nomor_telepon.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                {{ form1.nomor_telepon }}
            </div>

            <h4><label for="{{ form1.jenis_kelamin.id_for_label }}">Jenis Kelamin</label></h4>
            {% if form1.jenis_kelamin.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.jenis_kelamin.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                </div>
                {{ form1.jenis_kelamin }}
            </div>

            <h4><label for="{{ form1.tanggal_lahir.id_for_label }}">Tanggal Lahir</label></h4>
            {% if form1.tanggal_lahir.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.tanggal_lahir.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form1.tanggal_lahir }}
            </div>

            <h4>Alamat</h4>
            <div id="form-set">
                {{ form2.management_form }}
                {% if form2.non_form_errors %}
                <div class="alert alert-danger" role="alert">
                {{ form2.non_form_errors }}
                </div>
                {% endif %}
                {% for form in form2.forms %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    <table class="table table-responsive" align="center">
                        <tr>
                            <td>
                                <h5><label for="{{ form.status.id_for_label }}">Status Alamat</label></h5>
                                {% if form.status.errors %}
                                <div class="alert alert-danger" role="alert">
                                {{ form.status.errors }}
                                </div>
                                {% endif %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-toggle-on"></i></span>
                                    </div>
                                    {{ form.status }}
                                </div>
                            </td>
                            <td>
                                <h5><label for="{{ form.alamat.id_for_label }}">Alamat Lengkap</label></h5>
                                {% if form.alamat.errors %}
                                <div class="alert alert-danger" role="alert">
                                {{ form.alamat.errors }}
                                </div>
                                {% endif %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-map"></i></span>
                                    </div>
                                    {{ form.alamat }}
                                </div>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <input class="btn btn-outline-primary" value="Tambah Alamat" id="add_address" readonly>
            <br>
            <input class="btn btn-outline-success" type="submit" value="Register">
        </form>
    </div>

    <div id="template_form" style="display:none">
    {% if form2.empty_form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
    {{ form2.empty_form.non_field_errors }}
    </div>
    {% endif %}
    <table class="table table-responsive" align="center">
        <tr>
            <td>
                <h5><label for="{{ form2.empty_form.status.id_for_label }}">Status Alamat</label></h5>
                {% if form2.empty_form.status.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form2.empty_form.status.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-toggle-on"></i></span>
                    </div>
                    {{ form2.empty_form.status }}
                </div>
            </td>
            <td>
                <h5><label for="{{ form2.empty_form.alamat.id_for_label }}">Alamat Lengkap</label></h5>
                {% if form2.empty_form.alamat.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form2.empty_form.alamat.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map"></i></span>
                    </div>
                    {{ form2.empty_form.alamat }}
                </div>
            </td>
        </tr>
    </table>
    </div>
{% endblock %}