{% extends "base.html" %}
{% load static %}

{% block title %}Balai Pengobatan - Farmakami{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>Daftar Balai Pengobatan</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>ID Balai</th>
				<th>Alamat Balai</th>
				<th>Nama Balai</th>
				<th>Jenis Balai</th>
				<th>No. Telepon</th>
                <th>Apotek yang berasosiasi</th>
				{% if request.session.role == 'ADMIN_APOTEK' %}
				<th>Operasi</th>
				{% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ row.id_balai }}</td>
            <td>{{ row.alamat_balai }}</td>
            <td>{{ row.nama_balai }}</td>
            <td>{{ row.jenis_balai }}</td>
            <td>{{ row.telepon_balai }}</td>
            <td>{{ row.nama_apotek }}</td>
            {% if request.session.role == 'ADMIN_APOTEK' %}
            <td>
                <form action="{% url 'biru:update_balai_pengobatan' %}" method="get">
                    <input type="hidden" id="id_u_b" name="id_u_b" value="{{ row.id_balai }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>

                <form action="{% url 'biru:delete_balai_pengobatan' %}" method="get">
                    <input type="hidden" id="id_d_b" name="id_d_b" value="{{ row.id_balai }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>			
</div>
{% endblock %}


