{% extends "base.html" %}
{% load static %}

{% block title %}Create Balai Pengobatan - Farmakami{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Create Balai Pengobatan</h1>
        <hr>
        <h4>Farmakami</h4>
  </div>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'biru:create_balai_pengobatan' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="form-group">

          <div>

          <h4>{{ form.alamat_balai.label }}</h4>
          <div class="input-group mb-3 ">   
            {{ form.alamat_balai }}
          </div>

          <h4>{{ form.nama_balai.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.nama_balai }}
          </div>

          <h4>{{ form.jenis_balai.label }}</h4> 
          <div class="input-group mb-3"> 
            {{ form.jenis_balai }}
          </div>

          <h4>{{ form.telepon_balai.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.telepon_balai }}
          </div>

          <h4>{{ form.id_apotek.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.id_apotek }}
          </div>


      		</div>
          <input class="btn btn-outline-primary" type="submit" value="Create">

        </form>
   
  </div> 

{% endblock %}