{% extends "base.html" %}
{% load static %}

{% block title %}Daftar Obat - Framakami{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>Daftar Obat</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">

	<table class="table table-hover" align="center">
		<thead class="thead-dark">
		
			<th>ID Obat</th>
			<th>ID Produk</th>
			<th>ID Merk Obat</th>
			<th>Netto</th>
			<th>Dosis</th>
			<th>Aturan Pakai</th>
			<th>Kontraindikasi</th>
			<th>Bentuk Ketersediaan</th>
			{% if request.session.role == 'ADMIN_APOTEK' or request.session.role == 'CS' %}
            <th>Operasi</th>
            {% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ row.id_obat }}</td>
            <td>{{ row.id_produk }}</td>
            <td>{{ row.id_merk_obat }}</td>
            <td>{{ row.netto }}</td>
            <td>{{ row.dosis }}</td>
            <td>{{ row.aturan_pakai }}</td>
            <td>{{ row.kontraindikasi }}</td>
            <td>{{ row.bentuk_kesediaan }}</td>
            {% if request.session.role == 'ADMIN_APOTEK' or request.session.role == 'CS' %}
            <td>
                <form action="{% url 'biru:update_obat' %}" method="get">
                    <input type="hidden" id="id_u_o" name="id_u_o" value="{{ row.id_obat }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>

                <form action="{% url 'biru:delete_obat' %}" method="get">
                    <input type="hidden" id="id_d_o" name="id_d_o" value="{{ row.id_obat }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}


	</table>
	
</div>
{% endblock %}


