{% extends 'base.html' %}
{% load static %}
{% block title %}Update Obat - Farmakami{% endblock %}

{% block content %}

<div class='jumbotron justify-content-center' align="center">
	<h1>Update Obat</h1>
	<hr>
	<h4>Farmakami</h4>
</div>

<div class="container d-flex justify-content-center" align="center">
	<form action="{% url 'biru:update_obat' %}" method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
		<div class="alert alert-danger" role="alert">
		{{ form.non_field_errors }}
		</div>
		{% endif %}

		<div class="form-group">

			<h4>{{ form.id_obat.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.id_obat }}
			</div>

			<h4>{{ form.id_produk.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.id_produk }}
			</div>

			<h4>{{ form.id_merk_obat.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.id_merk_obat }}
			</div>

			<h4>{{ form.netto.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.netto }}
			</div>

			<h4>{{ form.dosis.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.dosis }}
			</div>

			<h4>{{ form.aturan_pakai.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.aturan_pakai }}
			</div>

			<h4>{{ form.kontraindikasi.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.kontraindikasi }}
			</div>

			<h4>{{ form.bentuk_kesediaan.label }}</h4> 
			<div class="input-group mb-3"> 
				{{ form.bentuk_kesediaan }}
			</div>

		</div>
		<input class="btn btn-outline-primary" type="submit" value="Update">
	</form>
</div>
{% endblock %}