<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex mr-auto">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="d-inline-block align-center fa fa-medkit"></i>
            FarmaKami
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav justify-content-start">
        {% if request.session.email %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        BP/Apotek
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_APOTEK' %}
        <a class="dropdown-item" href="{% url 'biru:create_balai_pengobatan' %}">Buat Balai Pengobatan</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'biru:balai_pengobatan' %}">Daftar Balai Pengobatan</a>
        {% if request.session.role == 'ADMIN_APOTEK' %}
        <a class="dropdown-item" href="{% url 'create_apotek' %}">Buat Apotek</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'apotek' %}">Daftar Apotek</a>
        </div>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Transaksi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_APOTEK' %}
        <a class="dropdown-item" href="{% url 'hijau:createtp' %}">Buat Transaksi Pembelian</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'hijau:viewtp' %}">Daftar Transaksi Pembelian</a>
        {% if request.session.role == 'ADMIN_APOTEK' or request.session.role == 'CS' %}
        <a class="dropdown-item" href="{% url 'create-transaksiresep' %}">Buat Transaksi Resep</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'transaksiresep' %}">Daftar Transaksi Resep</a>
        </div>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produk Apotek
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_APOTEK' %}
        <a class="dropdown-item" href="{% url 'create_produk_apotek' %}">Buat Produk Apotek</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'produk_apotek' %}">Daftar Produk Apotek</a>
        </div>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produk Dibeli
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_APOTEK' %}
        <a class="dropdown-item" href="{% url 'create-listprodukdibeli' %}">Buat List Produk Dibeli</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'listprodukdibeli' %}">Daftar Produk Dibeli</a>
        </div>
        </li>

        {% if request.session.role == 'ADMIN_APOTEK' or request.session.role == 'KURIR' %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pengantaran
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_APOTEK' %}
        <a class="dropdown-item" href="{% url 'create-pengantaranfarmasi' %}">Buat Pengantaran Farmasi</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'pengantaranfarmasi' %}">Daftar Pengantaran</a>
        </div>
        </li>
        {% endif %}


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produk
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_APOTEK' or request.session.role == 'CS' %}
        <a class="dropdown-item" href="{% url 'biru:create_obat' %}">Buat Obat</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'biru:obat' %}">Daftar Obat</a>
        {% if request.session.role == 'ADMIN_APOTEK' or request.session.role == 'CS' %}
        <a class="dropdown-item" href="{% url 'create-alatmedis' %}">Buat Alat Medis</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'alatmedis' %}">Daftar Alat Medis</a>
        </div>
        </li>
        </ul>
        {% endif %}
        <ul class="d-flex align-items-center nav navbar-nav ml-auto justify-content-end">
        {% if request.session.email %}
        <li class="navbar-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" align="right" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>
        <strong>{{ request.session.nama }}</strong> <i class="fa fa-user"></i>
        </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        </ul>
        </div>
    </div>
</nav>