{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class='jumbotron justify-content-center' align="center">
            <h1>Create Produk Apotek</h1>
            <hr>
            <h4>Pastikan Produk yang dimasukan ada di apotek yang tepat </h4>
        </div>
        <div class="container d-flex justify-content-center" align="center">
            <form action="{% url 'create-listprodukdibeli' %}" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <h3><label for="{{ form.id_produk.id_for_label }}">ID Produk</label></h3>
                {% if form.id_produk.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.id_produk.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.id_produk }}
                </div>

                <h3><label for="{{ form.id_apotek.id_for_label }}">ID Apotek</label></h3>
                {% if form.id_apotek.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.id_apotek.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.id_apotek }}
                </div>

                <h3><label for="{{ form.id_transaksi.id_for_label }}">ID transaksi</label></h3>
                {% if form.id_transaksi.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.id_transaksi.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.id_transaksi }}
                </div>

                <h3><label for="{{ form.jumlah.id_for_label }}">Jumlah</label></h3>
                {% if form.jumlah.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.jumlah.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-columns"></i></span>
                    </div>
                    {{ form.jumlah }}
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Create">
            </form>
        </div>



{% endblock %}