{% extends "base.html" %}
{% load static %}
{% block title %}
    Create Pengantaran Farmasi - Farmakami

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class='jumbotron justify-content-center' align="center">
            <h1>Create Produk Apotek</h1>
            <hr>
            <h4>Farmakami</h4>
        </div>
        <form action="{% url 'create-pengantaranfarmasi' %}" method="post">
            {% csrf_token %}
            <h4><label for="{{ form.id_transaksi.id_for_label }}">ID Apotek</label></h4>
            {% if form.id_transaksi.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.id_transaksi.errors }}
                </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                </div>
                {{ form.id_transaksi }}
            </div>
            <h4><label for="{{ form.waktu.id_for_label }}">Waktu Pengantaran</label></h4>
            {% if form.waktu.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.id_transaksi.errors }}
                </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                </div>
                {{ form.waktu }}
            </div>
            <h4><label for="{{ form.biaya.id_for_label }}">Biaya</label></h4>
            {% if form.biaya.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.biaya.errors }}
                </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><strong>Rp</strong></span>
                </div>
                {{ form.biaya }}
            </div>
            <input class="btn btn-outline-primary" type="submit" value="Create">
        </form>
    </div>



{% endblock %}