{% extends "base.html" %}

{% load static %}
{% block title %}
    Pengantaran Farmasi - Farmakami
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Pengantaran Farmasi</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID Pengantaran</th>
                <th scope="col">ID Kurir</th>
                <th scope="col">ID Transaksi</th>
                <th scope="col">Waktu</th>
                <th scope="col">Status</th>
                <th scope="col">Biaya Kirim</th>
                <th scope="col">Biaya Total</th>
                {% if request.session.role == 'ADMIN_APOTEK' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <th>{{ row.id_pengantaran }}</th>
                    <td>{{ row.id_kurir }}</td>
                    <td>{{ row.id_transaksi_pembelian }}</td>
                    <td>{{ row.waktu }}</td>
                    <td>{{ row.status_pengantaran }}</td>
                    <td>{{ row.biaya_kirim }}</td>
                    <td>{{ row.total_biaya }}</td>
                    {% if request.session.role == 'ADMIN_APOTEK' %}
                        <td>
                            <a href="update-pengantaranfarmasi/{{ row.id_pengantaran }}"
                               class="btn btn-warning">Update</a>
                            <form action="{% url 'delete-pengantaranfarmasi' %}" method="get">
                                <input type="hidden" id="delete_pengantaran" name="delete_pengantaran"
                                       value="{{ row.id_pengantaran }}">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}