{% extends "base.html" %}
{% load static %}
{% block title %}
    Produk Dibeli - Farmakami
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Produk Dibeli</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID Produk</th>
                <th scope="col">ID Apotek</th>
                <th scope="col">ID Transaksi Pembelian</th>
                <th scope="col">Jumlah</th>
                {% if request.session.role == 'ADMIN_APOTEK' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_produk }}</td>
                    <td>{{ row.id_apotek }}</td>
                    <td>{{ row.id_transaksi_pembelian }}</td>
                    <td>{{ row.jumlah }}</td>
                    {% if request.session.role == 'ADMIN_APOTEK' %}
                        <td>
                            <a href="update-listprodukdibeli/{{ row.id_produk }}/{{ row.id_apotek }}/{{ row.id_transaksi_pembelian }}"
                               class="btn btn-warning">Update</a>

                            <form action="{% url 'delete-produkdibeli' %}">
                                <input type="hidden" id="delete-produk-dibeli" name="delete-produk-dibeli"
                                       value="{{ row.id_produk }}">
                                <input type="hidden" id="delete-apotik-dibeli" name="delete-apotik-dibeli"
                                       value="{{ row.id_apotek }}">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
