{% extends "base.html" %}
{% load static %}
{% block title %}
    Update Pengantaran Farmasi - Farmakami
{% endblock %}
{% block content %}
    <div class='jumbotron justify-content-center' align="center" xmlns="http://www.w3.org/1999/html">
        <h1>Update Pengantaran Farmasi</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <div class="container d-flex justify-content-center" align="center">
            <form class="justify-content-center" method="post">
                {% csrf_token %}
                <div class="col-auto my-1">
                    <fieldset disabled>
                        <div class="form-group">
                            <label class="mr-sm-2" for="id_pengantaran">
                                <h4> ID Pengantaran</h4>
                            </label>
                            <select class="custom-select mr-sm-2" name="input_id_pengantaran" id="input_id_pengantaran">
                                <option selected>{{ pengantaran_set.id_pengantaran }}</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset disabled>
                        <div class="form-group">
                            <label class="mr-sm-2" for="id_kurir">
                                <h4> ID Kurir</h4>
                            </label>
                            <select class="custom-select mr-sm-2" name="input_id_kurir" id="input_id_kurir">
                                <option selected>{{ pengantaran_set.id_kurir }}</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset disabled>
                        <div class="form-group">
                            <label class="mr-sm-2" for="id_transaksi">
                                <h4> ID Transaksi</h4>
                            </label>
                            <select class="custom-select mr-sm-2" name="input_id_transaksi" id="input_id_transaksi">
                                <option selected>{{ pengantaran_set.id_transaksi }}</option>
                            </select>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label class="mr-sm-2" for="input_waktu">
                            <h4>Waktu</h4>
                        </label>
                        <input value="{{ pengantaran_set.waktu }}" type="datetime-local" class="form-control"
                               name="input_waktu" id="input_waktu" required>
                    </div>

                    <div class="form-group">
                        <label class="mr-sm-2" for="input_status">
                            <h4>Status</h4>
                        </label>
                        <input value="{{ pengantaran_set.status }}" type="text" class="form-control"
                               name="input_status" id="input_status" required>
                    </div>

                    <div class="form-group">
                        <label class="mr-sm-2" for="input_biaya_kirim">
                            <h4>Biaya Kirim</h4>
                        </label>
                        <input value="{{ pengantaran_set.biaya_kirim }}" type="number" class="form-control"
                               name="input_biaya_kirim" id="input_biaya_kirim" required>
                    </div>
                    <fieldset disabled>
                        <div class="form-group">
                            <label class="mr-sm-2" for="input_total_biaya">
                                <h4>Total Biaya</h4>
                            </label>
                            <input value="{{ pengantaran_set.total_biaya }}" type="number" class="form-control"
                                   name="input_total_biaya" id="input_total_biaya" required>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-primary"> Submit</button>

            </form>
        </div>
{% endblock %}