{% extends "base.html" %}
{% load static %}

{% block title %}Update Produk Apotek - Farmakami{% endblock %}
{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Produk Apotek</h1>
        <hr>
        <h4>Farmakami</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <form class="justify-content-center" method="post">
            {% csrf_token %}
            <div class="col-auto my-1">
                <fieldset disabled>
                    <div class="form-group">
                        <h4> ID Produk</h4>
                        <select class="custom-select mr-sm-2" name="input_id_produk" id="input_id_produk">
                            <option selected>{{ list_jual_set.id_produk }}</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset disabled>
                    <div class="form-group">
                        <h4> ID Transaksi Pembelian</h4>
                        <select class="custom-select mr-sm-2" name="apotek" id="apotek">
                            <option selected>{{ list_jual_set.id_apotek }}</option>
                        </select>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="input-group-prepend">
                        <h4> ID Transaksi Pembelian</h4>
                    </div>
                    <input value="{{ list_jual_set.id_transaksi_pembelian }}" type="text" class="form-control"
                           name="input_id_transaksi_pembelian" id="input_id_transaksi_pembelian" required>
                </div>

                <div class="form-group">
                    <div class="input-group-prepend">
                        <div class="input-group"> Jumlah</div>
                    </div>
                    <input value="{{ list_jual_set.jumlah }}" type="number" class="form-control"
                           name="input_jumlah" id="input_jumlah" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"> Submit</button>
        </form>
    </div>


{% endblock %}