{% extends "base.html" %}
{% block content %}
<div class="container-fluid justify-content-center text-center">
  <table class="table table-hover" align = "center">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">No Resep</th>
        <th scope="col">Dokter</th>
        <th scope="col">Pasien</th>
        <th scope="col">Isi Resep</th>
        <th scope="col">Unggahan Resep</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Status</th>
        <th scope="col">No Telp</th>        
        <th scope="col">ID Transaksi</th>        
        <th scope="col">Email Apoteker</th>
        {% if request.session.role == 'ADMIN_APOTEK' %}                
        <th scope="col">Action</th>        
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{ row.no_resep }}</td>
        <td>{{ row.nama_dokter }}</td>
        <td>{{ row.nama_pasien }}</td>
        <td>{{ row.isi_resep }}</td>
        <td>{{ row.unggahan_resep }}</td>
        <td>{{ row.tanggal_resep }}</td>
        <td>{{ row.status_validasi }}</td>
        <td>{{ row.no_telepon }}</td>
        <td>{{ row.id_transaksi_pembelian }}</td>
        <td>{{ row.email_apoteker }}</td>
        {% if request.session.role == 'ADMIN_APOTEK' %}                     
        <td>
          <form action="{% url 'update-transaksiresep' %}" method="get">
            <input type="hidden" id="id_u" name="id_u" value="{{ row.no_resep }}">
            <input type="submit" class="btn btn-success" value="Update">
          </form>

          <form action="{% url 'delete-transaksiresep' %}" method="get">
            <input type="hidden" id="id_d" name="id_d" value="{{ row.no_resep }}">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
