{% extends "base.html" %}
{% block content %}
<div class="container-fluid justify-content-center text-center">
  <table class="table table-hover" align = "center">
    <thead class = "thead-dark">
      <tr>
        <th scope="col">ID Alat Medis</th>
        <th scope="col">Nama Alat Medis</th>
        <th scope="col">Deskripsi</th>
        <th scope="col">Jenis Penggunaan</th>
        <th scope="col">ID Produk</th>
        {% if request.session.role == 'ADMIN_APOTEK' %}                
        <th scope="col">Action</th>        
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{ row.id_alat_medis }}</td>
        <td>{{ row.nama_alat_medis }}</td>
        <td>{{ row.deskripsi_alat}}</td>
        <td>{{ row.jenis_penggunaan }}</td>
        <td>{{ row.id_produk }}</td>
        {% if request.session.role == 'ADMIN_APOTEK' %}                     
        <td>
          <form action="{% url 'update-alatmedis' %}" method="get">
            <input type="hidden" id="id_d" name="id_d" value="{{ row.id_alat_medis }}">
            <input type="submit" class="btn btn-success" value="Update">
          </form>

          <form action="{% url 'delete-alatmedis' %}" method="get">
            <input type="hidden" id="id_d" name="id_d" value="{{ row.id_alat_medis }}">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
