{% extends "base.html" %}
{% load static %}

{% block title %}Update Transaksi Resep - Farmakami{% endblock %}

{% block content %}
<div class='jumbotron justify-content-center' align="center">
  <h1>Update Transaksi dengan Resep</h1>
  <hr>
  <h4>Farmakami</h4>
</div>

<div class="container d-flex justify-content-center" align="center">
  <form action="{% url 'update-transaksiresep' %}" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
      </div>
      {% endif %}
      <h4><label for="{{form.no_resep.id_for_label }}">No Resep</label></h4>
      {% if form.no_resep.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.no_resep.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-building"></i></span>
          </div>
          {{ form.no_resep }}
      </div>

      <h4><label for="{{ form.nama_dokter.id_for_label }}">Nama Dokter</label></h4>
      {% if form.nama_dokter.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.nama_dokter.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.nama_dokter}}
      </div>

      <h4><label for="{{ form.nama_pasien.id_for_label }}">Nama Pasien</label></h4>
      {% if form.nama_pasien.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.nama_pasien.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.nama_pasien}}
      </div>

      <h4><label for="{{ form.isi_resep.id_for_label }}">Isi Resep</label></h4>
      {% if form.isi_resep.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.isi_resep.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.isi_resep}}
      </div>

      <h4><label for="{{ form.unggahan_resep.id_for_label }}">Unggahan Resep</label></h4>
      {% if form.unggahan_resep.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.unggahan_resep.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.unggahan_resep}}
      </div>

      <h4><label for="{{ form.tanggal_resep.id_for_label }}">Tanggal Resep</label></h4>
      {% if form.tanggal_resep.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.tanggal_resep.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.tanggal_resep}}
      </div>

      <h4><label for="{{ form.status_validasi.id_for_label }}">Status Validasi</label></h4>
      {% if form.status_validasi.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.status_validasi.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.status_validasi}}
      </div>

      <h4><label for="{{ form.no_telepon.id_for_label }}">Nomor Telepon</label></h4>
      {% if form.no_telepon.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.no_telepon.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.no_telepon}}
      </div>      

      <h4><label for="{{ form.id_transaksi_pembelian.id_for_label }}">ID Transaksi</label></h4>
      {% if form.id_transaksi_pembelian.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.id_transaksi_pembelian.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.id_transaksi_pembelian}}
      </div>

      <h4><label for="{{ form.no_telepon.id_for_label }}">Email Apoteker</label></h4>
      {% if form.email_apoteker.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.email_apoteker.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.email_apoteker}}
      </div>
      
      <input class="btn btn-outline-primary" type="submit" value="Update">
  </form>
</div>

{% endblock %}
