{% extends "base.html" %}
{% load static %}

{% block title %}Update Alat Medis - Farmakami{% endblock %}

{% block content %}
<div class='jumbotron justify-content-center' align="center">
  <h1>Update Alat Medis</h1>
  <hr>
  <h4>Farmakami</h4>
</div>

<div class="container d-flex justify-content-center" align="center">
  <form action="{% url 'update-alatmedis' %}" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }}
      </div>
      {% endif %}
      
      <h4><label for="{{form.id_alat_medis.id_for_label }}">ID Alat Medis</label></h4>
      {% if form.id_alat_medis.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.id_alat_medis.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-building"></i></span>
          </div>
          {{ form.id_alat_medis }}
      </div>

      <h4><label for="{{ form.nama_alat_medis.id_for_label }}">Nama Alat Medis</label></h4>
      {% if form.nama_alat_medis.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.nama_alat_medis.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.nama_alat_medis}}
      </div>

      <h4><label for="{{ form.deskripsi_alat.id_for_label }}">Deskripsi Alat</label></h4>
      {% if form.deskripsi_alat.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.deskrpsi_alat.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.deskripsi_alat}}
      </div>

      <h4><label for="{{ form.jenis_penggunaan.id_for_label }}">Jenis Penggunaan</label></h4>
      {% if form.jenis_penggunaan.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.jenis_penggunaan.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.jenis_penggunaan}}
      </div>

      <h4><label for="{{ form.id_produk.id_for_label }}">ID Produk</label></h4>
      {% if form.id_produk.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.id_produk.errors }}
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
          </div>
          {{ form.id_produk}}
      </div>
      
      <input class="btn btn-outline-primary" type="submit" value="Update">
  </form>
</div>

{% endblock %}
