{% extends "base.html" %}

{% block title %}
Farmakami - Create TP
{% endblock %}

{% block content %}
<style>
label{
    width: 500px;
    display: inline-block;
}

input{
    width: 465px;
}
</style>
<div class="jumbotron">
    {% if request.session.role == "ADMIN_APOTEK" %}      
    <h1 class="display-4">Create Transaksi Pembelian - Admin</h1>
    {% else %}
    <h1 class="display-4">Create Transaksi Pembelian</h1>
    {% endif %}
    <p class="lead font-italic">FarmaKami Indonesia</p>
    <hr class="my-4">
</div>

<div class="container jumbotron">  
    {% if request.session.role == "ADMIN_APOTEK" %}       
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </form>
    {% else %}
    <p class="lead font-italic">Maaf, anda tidak memiliki akses ke laman ini.</p>
    {% endif %}
</div>
{% endblock content %}