{% extends "base.html" %}

{% block title %}
Farmakami - Update TP
{% endblock %}

{% block content %}
<style>
    .backbutton{
        width: 5em;
        margin-top: -2em;
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Update Transaksi Pembelian</h1>
    <p class="lead font-italic">FarmaKami Indonesia</p>
    <hr class="my-4">
</div>
<a href="{% url 'hijau:viewtp' %}">
        <img class="backbutton" src="https://pngimage.net/wp-content/uploads/2018/05/back-logo-png-6.png">
</a>
<div class="container jumbotron">
    <form method="POST">
        <div class="form-group">
            <label for="exampleFormControlSelect1">ID Transaksi Pembelian</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="{{ id }}"> {{ id }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Waktu Pembelian</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="{{ waktu_pembelian }}"> {{ waktu_pembelian }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Total Pembayaran</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="{{ total_pembayaran }}"> {{ total_pembayaran }}</option>
            </select>
        </div>
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}