{% extends "base.html" %}

{% block title %}
List TP - Farmakami
{% endblock %}

{% block content %}
<div class="jumbotron">
  {% if request.session.role == 'ADMIN_APOTEK' %}
  <h1 class="display-4">List Transaksi Pembelian - Admin</h1>
  {% else %}
  <h1 class="display-4">List Transaksi Pembelian</h1>
  {% endif %}
  <p class="lead font-italic">FarmaKami Indonesia</p>
  <hr class="my-4">
</div>
{% if request.session.role == 'ADMIN_APOTEK' %}
<div class="container">
    <table class="table table-striped table table-hover">
        <thead>
          <tr>
            <th scope="col">ID Transaksi Pembelian</th>
            <th scope="col">Waktu Pembelian</th>
            <th scope="col">Total Pembayaran</th>
            <th scope="col">ID Konsumen</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for item in table %}
          <tr>
            <td>{{ item.id_transaksi_pembelian }}</td>
            <td>{{ item.waktu_pembelian }}</td>
            <td>{{ item.total_pembayaran }}</td>
            <td>{{ item.id_konsumen }}</td>
            <td>
                <a href="{% url 'hijau:updatetp' item.id_transaksi_pembelian %}" class="btn btn-outline-primary" role="button">Update</a>
                <a href="{% url 'hijau:deletetp' item.id_transaksi_pembelian %}" class="btn btn-outline-primary" role="delete">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container">
    <table class="table table-striped table table-hover">
        <thead>
          <tr>
            <th scope="col">ID Transaksi Pembelian</th>
            <th scope="col">Waktu Pembelian</th>
            <th scope="col">Total Pembayaran</th>
            <th scope="col">ID Konsumen</th>
          </tr>
        </thead>
        <tbody>
        {% for item in table %}
          <tr>
            <td>{{ item.id_transaksi_pembelian }}</td>
            <td>{{ item.waktu_pembelian }}</td>
            <td>{{ item.total_pembayaran }}</td>
            <td>{{ item.id_konsumen }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% endblock content %}